body{
    background: url("1.jpg");
    background-repeat:no-repeat ;
    background-size:100% 100%;
    background-attachment: fixed;
}
.square {
    width: 400px;
    height: 600px;
    float: left;
}
.aa{
	background-color:yellow;
}
.bb{
	background-color:green;
}
.cc{
	background-color:pink;
}
.anniu{
    width: 300px;
    height: 100px;
    float: left;
    margin-top: 20px;
}
.title {
    font-size: 30px;
    margin: 20px auto;
}
.game{
    border: 2px solid rgb(115, 111, 223);
    width: 200px;
    height: 400px;
    background: #777;
    /* border-left:2px solid blue;
    border-right: 2px solid blue;
    border-bottom:2px solid blue; */
    position: relative;
    float: left;
}
.next{
    width:80px;
    height: 80px;
    background: #777;
    position: relative;
    float: left;
    margin-left: 40px;
    border:1px solid blue;
}
.info {
    float: left;
    margin-left: 40px;
    margin-top:10px;
    color: rgb(228, 236, 238);
    font-style: italic;
    font-weight:bolder; 
    font-size: 17px;
}
.none, .current1,.current2,.current3,.current4,.current5, .done{
    width: 20px;
    height: 20px;
    position:absolute;
    box-sizing:border-box;
}
.none {
    background-color: rgb(59, 57, 57);
    border: 1px solid rgb(15, 15, 15);
}
.current1{
    background: rgb(98, 213, 60);
    border: 1px solid #000;
}
.current2{
    background: rgb(174, 189, 35);
    border: 1px solid #000;
}
.current3{
    background: rgb(59, 68, 159);
    border: 1px solid #000;
}
.current4{
    background: rgb(27, 169, 159);
    border: 1px solid #000;
}
.current5{
    background: rgb(159, 39, 157);
    border: 1px solid #000;
}
.done {
    background: rgb(179, 110, 110);
    border:1px solid black
}
#local_down,#local_left,#local_right,#local_rotate{
    border-radius: 50%;
    width: 70px;
    height: 70px;

}